image: python:3.5

pages:
  script:
  - uname -a; python -V; pip -V
  - pip install -r requirements.txt
  - make -C docs html
  - mv docs/_build/html/ public/
  artifacts:
    paths:
    - public
  only:
  - master